/* IMPORTS */
/*
    TABLET VERSION
*/
/*
    SMALL SCREEN COMPUTER VERSION
*/
/*
    LARGE SCREEN COMPUTER VERSION
*/
/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
/*
    PHONE VERSION
*/
section.shop_header {
  width: 100%;
  background-color: #f8d2ca;
  position: relative; }
  section.shop_header:after {
    content: '';
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    bottom: -50px;
    background-image: -webkit-radial-gradient(center 0px circle, rgba(248, 210, 202, 0) 20px, #f8d2ca 0);
    background-image: -o-radial-gradient(center 0px circle, rgba(248, 210, 202, 0) 20px, #f8d2ca 0);
    background-image: radial-gradient(circle at center 0px, rgba(248, 210, 202, 0) 20px, #f8d2ca 0);
    background-repeat: repeat-x;
    background-size: 30px 50px;
    background-color: #ffffff;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  section.shop_header div.inner_container {
    width: 90%;
    max-width: 1100px;
    margin: 100px auto;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 50vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    section.shop_header div.inner_container h3 {
      font-size: 2.5rem;
      letter-spacing: 5px;
      font-weight: 200;
      color: #353535;
      text-align: center; }
      @media screen and (min-width: 768px) {
        section.shop_header div.inner_container h3 {
          font-size: 4rem; } }

section.artists_description div.inner_container {
  width: 90%;
  max-width: 1100px;
  margin: 100px auto;
  margin-bottom: 0; }
  section.artists_description div.inner_container p {
    font-size: 2.2rem;
    font-weight: 400;
    color: #353535;
    letter-spacing: .5px;
    line-height: 25px;
    text-align: center;
    line-height: 2.5rem; }

section.artists_all_artworks div.inner_container {
  width: 90%;
  max-width: 900px;
  margin: 100px auto;
  margin: 50px auto 0px; }
  section.artists_all_artworks div.inner_container div.header {
    width: 100%; }
    section.artists_all_artworks div.inner_container div.header h3 {
      font-size: 2.5rem;
      letter-spacing: 5px;
      font-weight: 200;
      color: #353535;
      text-align: center;
      padding: 20px 0; }
      @media screen and (min-width: 768px) {
        section.artists_all_artworks div.inner_container div.header h3 {
          font-size: 4rem; } }

/*
    TABLET VERSION
*/
/*
    SMALL SCREEN COMPUTER VERSION
*/
/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px) {
  section.artists_all_artworks div.inner_container {
    margin-bottom: 0px; } }

/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
