/* IMPORTS */
@import "ui_mixines";

/*
    PHONE VERSION
*/
header.home_header{
	width: 100%;
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: space-around;


	img{
		width: 60%;
		max-width: 300px;
		max-height: 300px;
	}
}

section.home_collections, section.home_discover{
	div.inner_container{
		@include container_sizing( 900px );

		div.header{
			width: 100%;
	
			h3{
				@include primary_title( $dark_grey );
				text-align: center;
				padding: 20px 0; 
			}
		}
		div.body{}
		div.footer{
			width: 100%;
			padding-top: 0px;
	
			a{
				@include primary_link( $light_blue )
				text-align: center;
				padding: 10px 0 20px;
			}
		}
	}
}

section.home_who_we_are{
	// background-size: cover;
	background-position: center center;

	div.inner_container{
		@include container_sizing( 800px );

		div.header{
			h3{
				@include primary_title( $dark_grey );
				text-align: center;
				padding: 20px 0; 
			}
		}
		div.body{
			p{
				@include primary_text( $dark_grey );
				margin: 15px 0;
			}
		}
	}
}

section.find_the_boat{
	position: relative;

	div.inner_container{
		@include container_sizing( 900px );

		div.left_container{
			img{
				width: 100%;
			}
		}
		div.right_container{
			h3{
				@include primary_title( $dark_grey );
				text-align: center;
				padding: 20px 0; 
			}
			a{
				@include primary_button( $med_blue, true, 40px );
			}
		}
	}
	&:after{
		content: '';
		width: 100%;
		height: 50px;
		display: block;
		position: absolute;
		bottom: -50px;
		background-image:radial-gradient(circle at center 0px, rgba($med_blue,0) 20px, rgba($med_blue,1) 0);
		background-repeat:repeat-x;
		background-size: 30px 50px;
		background-color: $white;
		transform: rotate( 180deg );
	}
}

section.home_event{
	div.inner_container{
		@include container_sizing( 900px );

		div.left_container{}
		div.right_container{}
	}
}

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){
	section.home_collections, section.home_discover{
		div.inner_container{
			div.header{
				h3{}
			}
			div.body{}
			div.footer{
				a{}
			}
		}
	}

	section.find_the_boat{
		div.inner_container{
			@include container_sizing( 800px );
			overflow: auto;
	
			div.left_container{
				width: 300px;
				float: left;

				img{}
			}
			div.right_container{
				width: calc( 100% - 350px );
				margin-left: 50px;
				float: right;
				height: 390px;
				display: flex;
				align-items: center;
				flex-warp: warp;

				div{
					h3{
						text-align: left;
						width: 100%;
					}
					a{
						max-width: 200px;
						margin-left: 0;
					}	
				}

			}
		}
	}

	section.home_event{
		div.inner_container{
			overflow: auto;

			div.left_container{
				width: calc( 50% - 25px );
				float: left;
	
				h3{}
				div.card_event{
					max-width: 350px;
					margin: 0 auto;
					
					span.border{}
					div.event_container{
						div.image_container{}
						h4{}
						a{}
					}
				}
			}
			div.right_container{
				width: calc( 50% - 25px );
				float: right;
				margin: 0 0 0 0;
	
				h3{}
				div.card_event{
					max-width: 350px;
					margin: 0 auto;
					
					span.border{}
					div.event_container{
						div.image_container{}
						h4{}
						a{}
					}
				}
			}
		}
	}
}


/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){
	section.home_collections, section.home_discover{
		div.inner_container{
			div.header{
				h3{}
			}
			div.body{}
			div.footer{
				a{}
			}
		}
	}
}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){
	section.home_collections, section.home_discover{
		div.inner_container{
			div.header{
				h3{}
			}
			div.body{}
			div.footer{
				a{}
			}
		}
	}
}


/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}